<header class="header">
    <div class="wrap">
        <h1 class="fl">
            <a href="index.html"  class="fl logo">
                <img src="<?php echo template?>Picture/logo.jpg"
                     alt="普拓信息" width="154" height="49" />
            </a>
        </h1>
        <div class="fl logo_text">
            <img src="<?php echo template?>Picture/logo_text.jpg"
                 alt="懂你所需，做你所想" width="163" height="49" />
        </div>
        <div class="fr">
            <div class="top">
              <span class="call">
              </span>
                <span class="call_tel">
                156-7587-0619
              </span>
                <a>
                <span class="email">
                </span>
                    1249923715@qq.com
                </a>
                <a class="ewm">
                <span class="weixin">
                </span>
                    普拓信息网站建设
                    <img src="<?php echo template?>Picture/contact_weixin.jpg"
                         width="258" height="258" alt="TI微信" />
                </a>
            </div>
            <nav class="nav">
                <ul class="fix">
                    <li id="menu1">
                        <a href="index.html" >
                            官网首页
                        </a>
                    </li>
                    <li id="menu2">
                        <a href="about/index" >
                            关于我们
                        </a>
                    </li>
                    <li id="menu3">
                        <a href="cases/index" >
                            成功案例
                        </a>
                    </li>
                    <li id="menu4">
                        <a href="service/index" >
                            服务范围
                        </a>
                    </li>
                    <li id="menu5">
                        <a href="mobile.html" >
                            移动终端
                        </a>
                    </li>
                    <li id="menu6">
                        <a href="solutions/index" >
                            解决方案
                        </a>
                    </li>
                    <li id="menu7">
                        <a href="news/index" >
                            新闻资讯
                        </a>
                    </li>
                    <li id="menu8">
                        <a href="contact/index" >
                            联系我们
                        </a>
                    </li>
                </ul>
                <span class="nav_icon">
              </span>
            </nav>
        </div>
    </div>
</header>