<!DOCTYPE html>
<html lang="en">
<head>
    <?php include "head.html"?>
</head>

<body class="sticky-header">

<section>

    <?php include "left.html"?>

    <!-- main content start-->
    <div class="main-content" >

        <!-- header section start-->
        <?php include "header.html"?>
        <!-- header section end-->

        <!-- page heading start-->
        <div class="page-heading">
            <h3>
                管理员控制台
            </h3>
            <ul class="breadcrumb">
                <li>
                    <a href="#">管理员控制台</a>
                </li>
                <li class="active">管理员控制台</li>
            </ul>
        </div>
        <!-- page heading end-->

        <?php include "footer.html"?>
    </div>
    <!-- main content end-->
</section>
<?php include "js.html"?>
</body>
</html>
